<div id="tabsBar" class="container">
    <div class="navbar">
        <ul class="nav nav-pills nav-justified">
            <li class="nav-item">
                <a class="nav-link" href="~/Home/Home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/Home/Portfolio">Portfolio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/Home/Projects">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/Home/Contact">Contact</a>
            </li>
        </ul>
    </div>
</div>